.cont {
    border-radius: 0.50rem;
    display: block;
    padding: 25px;
    margin: 8px auto 8px auto;
    width: 500px;
    height: 320px;
    box-shadow: -4px 8px 5px 0px rgba(137, 137, 137, 0.34);
    background: white;
}
