.cont {
    display: inline;
    width: 200px;
    margin: 20px;
    padding: 20px;   
}
.box {
    color:azure;
    width: 200px;
    align-items: center;
    margin: auto;
    border-radius: 0.50rem;
    background: #008080;
}
.table {
    display: block;
    box-shadow: -4px 8px 5px 0px rgba(137, 137, 137, 0.34);
    background: white;
    border-radius: 0.50rem;
    width: 900px;
    height: auto;
    margin: 5px auto;
    padding: 20px;
}

h4{
    display:inline;
}

@media (max-width: 768px ) {
    .table{
        width: 100%;
        padding: 1rem 0;
    }
}