.cont {
    border-radius: 21px 50px 0px 50px / 0px 25px 0px 25px;
    display: block;
    padding: 25px;
    margin: 8px auto 8px auto;
    width: 900px;
    height: 400px;
    box-shadow: -4px 8px 5px 0px rgba(137, 137, 137, 0.34);
    background: white;
}


.dragAndDropArea {
    display: block;
    padding: 24px;
    margin: 8px auto 8px auto;
    height: 100px;
    line-height: 1rem;
    width: 300px;
    border: 2px dotted #013434;
    color: #013434;
    background: transparent;
}

.dragHover {
    border-color: #013434;
    background: #75f581;
}

.dragFree {
    border-color: grey;

}

.listOfSelectedFiles {
    padding: 10px 25px;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    display: block;
    text-align: left;
    justify-items: left;
    width: 525px;
}

.buttons {
    padding: 5px 15px;
    margin: 10px;
    color: teal;
    font-size: 14px;
    background: transparent;
    border: 1px solid teal;
    cursor: pointer;
}

.csvImport {
    font-family: sans-serif;
    text-align: center;
    color: dimgrey;
}

.searchBar {
    padding: 5px 15px;
    margin: 10px;
    font-size: 14px;
    background: white;
    border: 1px solid teal;
}

@media (max-width: 900px) {
    .cont {
        width: 700px;
        height: 400px;
    }
}

@media (max-width: 700px) {
    .cont {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 500px) {
    .cont {
        width: 450px;
        height: 400px;
    }
}
