section {
    margin: auto;
    width: 100%;
    max-width: 420px;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    /* background-color: rgb(21, 162, 162); */
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-grow: 1;
    padding-bottom: 1rem;
}
/*
    a, a:visited {
    color: #fff;
}
*/


input[type="text"],
input[type="password"],
.buttonReg,
textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    padding: 0.75rem;
    border: 2px solid #e2e8f0;
    border-radius: 0.25rem;
}

label,
.buttonReg {
    margin-top: 1rem;

}

.buttonReg {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    padding: 0.25rem;
    border-radius: 0.5rem;
    background-color: #5da5d2;
    border: none;
    color: #FFFFFF;
    text-align: center;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.buttonReg span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.buttonReg span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.buttonReg:hover span {
    padding-right: 25px;
}

.buttonReg:hover span:after {
    opacity: 1;
    right: 0;
}

.instructions {
    font-size: 0.75rem;
    border-radius: 0.5rem;
    background: #c4f1eb;
    color: #000000;
    padding: 0.25rem;
    position: relative;
    bottom: -10px;
}

.instructions > svg {
    margin-right: 0.25rem;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.hide {
    display: none;
}

.valid {
    color: limegreen;
    margin-left: 0.25rem;
}

.invalid {
    color: red;
    margin-left: 0.25rem;
}

.errmsg {
    background-color: lightpink;
    color: firebrick;
    font-weight: bold;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.line {
    display: inline-block;
    color: #1e3a8a;
}

.flexGrow {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}