.cont {
    display: block;
    box-shadow: -4px 8px 5px 0px rgba(137, 137, 137, 0.34);
    background: white;
    border-radius: 0.50rem;
    width: 95%;
    height: auto;
    margin: 15px auto 15px auto;
}

h2 {
    font-family: 'Times New Roman', serif;
    font-size: 30px;
    font-style: italic;
    text-decoration: underline;
}
