.cont {
    border-radius: 0.50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin: 8px auto;
    width: 470px;
    height: auto;
    box-shadow: -4px 8px 5px 0 rgba(137, 137, 137, 0.34);
    background: white;
}
.tspan {
    font-weight: 700;
    font-size: 3em;
    fill: #2B5CE7;
    font-family: "Roboto", serif
}

.tspan2{
    font-weight: 700;
    font-size: 0.8em;
    fill: #A9A9A9;
    font-family: "Roboto", serif;
}

@media (max-width: 768px ) {
    .cont {
        width: 95%;
    }
    .cont h4{
        font-size: 1.1rem;
    }
}