.wrapper {
    display: flex;
    text-align-all: center;
    justify-content: center;
    margin-top: 50px;
}

.myLoader {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px dotted teal;
    animation: rotate 4s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
